<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
  <PluginImplementation>
    <interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
    <implementationClass>au.com.mutopia.plugin.serializer.JsonIfcGeometryTreeSerializerPlugin
    </implementationClass>
  </PluginImplementation>

  <!-- <PluginImplementation> -->
  <!-- <interfaceClass>org.bimserver.plugins.serializers.DeserializerPlugin</interfaceClass> -->
  <!-- <implementationClass>au.com.mutopia.plugin.deserializer.JsonIfcGeometryTreeDeserializerPlugin</implementationClass> -->
  <!-- </PluginImplementation> -->
</PluginDescriptor>
